<h1>searchs</h1>
<form action="/user/searchs" method="POST">
<input type="text" name="skill">
<input type="submit">
</form>
<h1>searchc</h1>
<form action="/user/searchc" method="POST">
<input type="text" name="contact">
<input type="submit">
</form>
<h1>searchn</h1>
<form action="/user/searchn" method="POST">
<input type="text" name="name">
<input type="submit">
</form>